  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/content.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="plugins/mmenu-light/mmenu-light.css" />
    {% block styles %}{% endblock %}
    <script src="plugins/mmenu-light/mmenu-light.js"></script>
    <script src="js/site.js"></script>
    {% block scripts %}{% endblock %}
  </head>