    <div class="hidden">
      <nav id="menu">
        <ul>
          <li class="Selected"><a href="/">Home</a></li>
          <li><a href="/brands">Brands</a></li>
          <li><a href="/platforms">Platforms</a></li>
          <li><a href="/distribution">Distribution</a></li>
          <li><a href="/jobs">Jobs</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </nav>
    </div>