{% extends "html.twig" %}
{% block content %}
      <div id="about" class="row">
        <div class="grid content-grid">
          <div class="row-title">
            <h2>WE BUILD AND ACCELERATE PREMIUM BRANDS</h2>
          </div>
          <div class="row-content">
            <p>Hi, we're the International Beauty Group - making the world a bit more beautiful every day. We create problem solving premium products and brands with bold strategies that deliver to the needs of today's demanding consumer.</p>
            <p>We distribute prestige and niche beauty brands through our network of 5000 retail partners through our start of the art retail technology stack enabling g us to reach every beauty conscious customer at the push of a button.</p>
          </div>
        </div>
      </div>

      <div id="brands">

        <div class="row odd">
          <h2>Our Brands</h2>
          <div class="grid brand-grid">
            <div class="rectangle-big">
              <h3>SmilePen</h3>
              <div><img class="lazy" src="img/placeholder.png" data-src="img/smilepen_cover.jpg" alt="Smilepen"></div>
            </div>
            <div class="rectangle-small">
              <h3>UltraSmile</h3>
              <div><img class="lazy" src="img/placeholder.png" data-src="img/smilepen.jpg" alt=""></div>
            </div>
            <div class="rectangle-small">
              <h3>Brand Name</h3>
              <div><img class="lazy" src="img/placeholder.png" data-src="img/smilepen.jpg" alt=""></div>
            </div>
          </div>
        </div>

        <div class="row even">
          <div class="grid brand-grid">
            <div class="rectangle-big">
              <h3>Brand Name</h3>
              <div><img class="lazy" src="img/placeholder.png" data-src="img/smilepen.jpg" alt=""></div>
            </div>
            <div class="rectangle-small">
              <h3>Brand Name</h3>
              <div><img class="lazy" src="img/placeholder.png" data-src="img/smilepen.jpg" alt=""></div>
            </div>
            <div class="rectangle-small">
              <h3>Brand Name</h3>
              <div><img class="lazy" src="img/placeholder.png" data-src="img/smilepen.jpg" alt=""></div>
            </div>
          </div>
        </div>

      </div>

{% endblock %}