{% extends "html.twig" %}
{% block content %}
      <div id="content" class="row">
        <h1>Jobs</h1>
        <div id="join-widget">
          <script defer type="text/javascript" data-mount-in="#join-widget" src="https://join.com/api/widget/bundle/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzZXR0aW5ncyI6eyJzaG93Q2F0ZWdvcnlGaWx0ZXIiOmZhbHNlLCJzaG93TG9jYXRpb25GaWx0ZXIiOmZhbHNlLCJzaG93RW1wbG95bWVudFR5cGVGaWx0ZXIiOmZhbHNlLCJsYW5ndWFnZSI6ImVuIiwiam9ic1BlclBhZ2UiOjV9LCJqb2JzIjp7fSwiZGVzaWduIjp7InNob3dMb2dvIjpmYWxzZSwic2hvd0xvY2F0aW9uIjp0cnVlLCJzaG93RW1wbG95bWVudFR5cGUiOnRydWUsInNob3dDYXRlZ29yeSI6dHJ1ZSwiY29sb3JzIjp7IndpZGdldCI6eyJiYWNrZ3JvdW5kIjoiI0ZGRkZGRiIsImZpbHRlckJvcmRlciI6IiNENEQ0RDgiLCJwYWdpbmF0aW9uIjoiIzI1NjNFQiJ9LCJqb2JDYXJkIjp7InNoYWRvdyI6IiNENEQ0RDgiLCJiYWNrZ3JvdW5kIjoiI0ZGRkZGRiIsInByaW1hcnlUZXh0IjoiIzNGM0Y0NiIsInNlY29uZGFyeVRleHQiOiIjNTI1MjVCIn19fSwidmVyc2lvbiI6MiwiY29tcGFueVB1YmxpY0lkIjoiZmYyMmU1MzdiYTM2MDNlMTc3MzYyOWE3OTY1N2Q4MGMiLCJpYXQiOjE2NjQyMDA2ODEsImp0aSI6ImM5MGUwYWIxLTRlZDctNGE1YS1iZDEzLTkzOWVmMTg4MTdjNCJ9.Z7f3S5TvzoAJ8G521xAegUNUmqv4W2OC3uJUPJkG71Q"></script>
        </div>
      </div>
{% endblock %}