{% extends "html.twig" %}
{% block content %}
      <div id="content" class="row">
        <h1>Jobs</h1>
        <div id="join-widget">
        <script
          defer
          type="text/javascript"
          data-mount-in="#join-widget"
          src="https://join.com/api/widget/bundle/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzZXR0aW5ncyI6eyJzaG93Q2F0ZWdvcnlGaWx0ZXIiOmZhbHNlLCJzaG93TG9jYXRpb25GaWx0ZXIiOmZhbHNlLCJzaG93RW1wbG95bWVudFR5cGVGaWx0ZXIiOmZhbHNlLCJsYW5ndWFnZSI6ImVuIiwiam9ic1BlclBhZ2UiOjV9LCJqb2JzIjp7fSwiZGVzaWduIjp7InNob3dMb2dvIjp0cnVlLCJzaG93TG9jYXRpb24iOnRydWUsInNob3dFbXBsb3ltZW50VHlwZSI6dHJ1ZSwic2hvd0NhdGVnb3J5Ijp0cnVlLCJjb2xvcnMiOnsid2lkZ2V0Ijp7ImJhY2tncm91bmQiOiIjRkZGRkZGIiwiZmlsdGVyQm9yZGVyIjoiI0Q0RDREOCIsInBhZ2luYXRpb24iOiIjMjU2M0VCIn0sImpvYkNhcmQiOnsic2hhZG93IjoiI0Q0RDREOCIsImJhY2tncm91bmQiOiIjRkZGRkZGIiwicHJpbWFyeVRleHQiOiIjM0YzRjQ2Iiwic2Vjb25kYXJ5VGV4dCI6IiM1MjUyNUIifX19LCJ2ZXJzaW9uIjoyLCJjb21wYW55UHVibGljSWQiOiJmZjIyZTUzN2JhMzYwM2UxNzczNjI5YTc5NjU3ZDgwYyIsImlhdCI6MTY2NDQ1OTYxMywianRpIjoiMDUyYTczMGItYWQzOS00YTcyLTgwZGUtZjM2Y2E5MGZhYTlkIn0.Wn9iCxkKbnb06QN9CUWbB3U5pev7TBuQgPudq4JOVF0"
        ></script>
      </div>
      </div>
{% endblock %}