{% extends "html.twig" %}

{% block styles %}
<link rel="stylesheet" href="css/form.css">
{% endblock %}

{% block content %}
      <div id="content" class="row">
        <h1>IBG Brand Central</h1>
        <form id="auth-login-form" method="post" action="#">
          <label for="login">Login <sup>*</sup></label>
          <input type="text" id="login" name="login" required />
          <label for="password">Password <sup>*</sup></label>
          <input type="password" id="password" name="password" required />
          <input type="submit" class="submit" value="Log in" />
        </form>
      </div>
{% endblock %}